<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googlepis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i"
    rel="stylesheet">
    <link rel="stylesheet" href="css/icon.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
    <title>We build Businesses &mdash; BluNinja</title>
</head>
<body>
    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
        <label for="navi-toggle" class="navigation__button">
            <span class="navigation__icon">&nbsp;</span>
        </label>
        <div class="navigation__background">&nbsp;</div>
        <nav class="navigation__nav">
            <ul class="navigation__list">
               <li class="navigation__item"><a href="#" class="navigation__link"><span>01</span>About Bluninja</a></li>
               <li class="navigation__item"><a href="#" class="navigation__link"><span>02</span>Sales</a></li>
               <li class="navigation__item"><a href="#" class="navigation__link"><span>03</span>Popular Sites</a></li>
               <li class="navigation__item"><a href="#" class="navigation__link"><span>04</span>Reviews</a></li>
               <li class="navigation__item"><a href="#" class="navigation__link"><span>05</span>Order Website</a></li>
            </ul>
        </nav>
    </div>
    <header class="header">
        <div class="header__logo-box">
            <img src="img/ninji.jpg" alt="logo" class="header__logo">
            <h3>BLUNINJA</h3>
        </div><!--end of logo-box-->
        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary__main--heb">We Build</span>
                <span class="heading-primary__sub--heb">Businesses Online</span>
            </h1><!--end of haeding-primary-->
            <a href="#section-tours" class="btn btn--white btn--animated">Discover Our Services</a>
        </div><!--end of text-box-->
    </header><!--end of header-->
    <main>
        <section class="section-about">
            <div class="u-center-text u-margin-bottom-big">
                <h2 class="heading-secondary">Websites for successfull businesses</h2>
            </div>
            <div class="row">
                <div class="col-1-of-2">
                    <h3 class="heading-tertiary u-margin-bottom-small">Lead you're business forword</h3>
                    <p class="paragraph">Website for a business is not a simple task, it can be a tedious job and cost a lot of money , many times you don't get what you planned and wished for Bluninja is a proffesional company who will first make sure what your needs are, and then we will start working to produce the best website in your line of business and help you lead.</p>
                    <h3 class="heading-tertiary u-margin-bottom-small">Grow and scale your business</h3>
                    <p class="paragraph">Our main objective is to make your buisness and we do it smart , our website are scalable , you can start with a beautiful page at start and grow until we'll build you a complete online-store built on top of the same website.</p>
                    <a href="#" class="btn-text">See More &rarr; </a>
                </div>
                <div class="col-1-of-2">
                    <div class="composition">
                        <img src="img/nat-1.jpg" alt="photo 1" class="composition__photo composition__photo--p1">
                        <img src="img/nat-2.jpg" alt="photo 2" class="composition__photo composition__photo--p2">
                        <img src="img/youcandoit.jpg" alt="photo 3" class="composition__photo composition__photo--p3">
                    </div>
                </div>   
            </div>
        </section>

        <section class="section-features">
            <div class="row">
                <div class="col-1-of-4">
                    <div class="feature-box">
                        <i class="feature-box__icon icon-basic-webpage-img-txt"></i>
                        <h3 class="heading-tertiary u-margin-bottom-small">Beautiful Designs</h3>
                        <p class="feature-box__text">
                            We use the most modern and updated designs, to make your website stand out from the rest. 
                        </p>
                    </div>
                </div>

                <div class="col-1-of-4">
                    <div class="feature-box">
                        <i class="feature-box__icon icon-basic-webpage"></i>
                        <h3 class="heading-tertiary u-margin-bottom-small">Clean code</h3>
                        <p class="feature-box__text">
                            We only use pure web code, no wordpress, wix, elementor, etc bs.
                        </p>
                    </div>
                </div>

                <div class="col-1-of-4">
                    <div class="feature-box">
                        <i class="feature-box__icon icon-basic-tablet"></i>
                        <h3 class="heading-tertiary u-margin-bottom-small">Responsive website</h3>
                        <p class="feature-box__text">
                            Our websites are optimal to view in any mobile device. 
                        </p>
                    </div>
                </div>

                <div class="col-1-of-4">
                    <div class="feature-box">
                        <i class="feature-box__icon icon-basic-alarm"></i>
                        <h3 class="heading-tertiary u-margin-bottom-small">Fast delivery</h3>
                        <p class="feature-box__text">
                            We deliver fast without compromising the quality of the website.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-tours" id="section-tours">
            <div class="u-center-text u-margin-bottom-big">
                <h2 class="heading-secondary">Most popular services</h2>
            </div>
            <div class="row">
                <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__side card__side--front">
                            <div class="card__picture card__picture--1">
                                &nbsp;
                            </div>
                            <h4 class="card__heading">
                                <span class="card__heading-span card__heading-span--1">Silver package site</span>
                            </h4>
                            <div class="card__details">
                                <ul>
                                    <li>1 page site</li>
                                    <li>Up to 5 sections</li>
                                    <li>Up to 5 dynamic elements</li>
                                    <li>One month of free hosting</li>
                                    <li>delivery: 24 hours</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card__side card__side--back card__side--back-1">
                            <div class="card__cta">
                                <div class="card__price-box">
                                    <p class="card__price-only">Only</p>
                                    <p class="card__price-value">$299</p>
                                </div>
                                <a href="#popup" class="btn btn--white">Order now!</a>
                            </div>
                        </div>
                    </div>
                    col 1 of 3
                </div>
                <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__side card__side--front">
                            <div class="card__picture card__picture--2">
                                &nbsp;
                            </div>
                            <h4 class="card__heading">
                                <span class="card__heading-span card__heading-span--2">Gold package website</span>
                            </h4>
                            <div class="card__details">
                                <ul>
                                    <li>3 page site</li>
                                    <li>Up to 12 different sections</li>
                                    <li>Up to 12 dynamic elements</li>
                                    <li>3 months of free hosting</li>
                                    <li>Delivery: 5 days</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card__side card__side--back card__side--back-2">
                            <div class="card__cta">
                                <div class="card__price-box">
                                    <p class="card__price-only">Only</p>
                                    <p class="card__price-value">$799</p>
                                </div>
                                <a href="#popup" class="btn btn--white">Order now!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__side card__side--front">
                            <div class="card__picture card__picture--3">
                                &nbsp;
                            </div>
                            <h4 class="card__heading">
                                <span class="card__heading-span card__heading-span--3">Diamond website</span>
                            </h4>
                            <div class="card__details">
                                <ul>
                                    <li>7 pages website</li>
                                    <li>Up to 30 sections</li>
                                    <li>up to 18 dynamic elements</li>
                                    <li>6 months free hosting</li>
                                    <li>Delivery: 12 days</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card__side card__side--back card__side--back-3">
                            <div class="card__cta">
                                <div class="card__price-box">
                                    <p class="card__price-only">Only</p>
                                    <p class="card__price-value">$1299</p>
                                </div>
                                <a href="#popup" class="btn btn--white">Order now!</a>
                            </div>
                        </div>
                    </div>
        
                </div>
            </div>
            <div class="u-center-text u-margin-top-big">
                <a href="#" class="btn btn--blue">Most popular services</a>
            </div>
        </section>
        <section class="section-stories">
            <div class="bg-video">
                <video class="bg-video__content" autoplay muted loop>
                    <source src="img/video-test.mp4" type="video/mp4">
                    Your Browser is not supported update it!
                </video>
            </div>
            <div class="u-center-text">
                <h2 class="heading-secondary u-margin-bottom-big u-margin-top-big">We make business grow <span class="bigger-word">BIGGER</span></h2>
            </div>
            <div class="row">
                <div class="story">
                    <figure class="story__shape">
                        <img src="img/woman.jpg" alt="happy business" class="story__img story__img--1">
                        <figcaption class="story__caption">Avi Levi</figcaption>
                    </figure>
                    <div class="story__text">
                        <h3 class="headding-tertiary u-margin-bottom-small">My number of clients has been doubled</h3>
                        <p>
                            Bluninja are awesome , i've been working with them in order to gain more clients to my business, and i've doubled my clients number.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="story">
                    <figure class="story__shape">
                        <img src="img/man.jpg" alt="happy business" class="story__img story__img--2">
                        <figcaption class="story__caption">Yaara Gabinzon</figcaption>
                    </figure>
                    <div class="story__text">
                        <h3 class="headding-tertiary u-margin-bottom-small">My new website looks amazing!</h3>
                        <p>
                            Bluninja first asked me a lot of questions regarding my business and only then started to build my website, they have built me a beautiful website. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="u-center-text u-margin-top-big">
                <a href="#" class="btn-text">Check all reviews &rarr;</a>
            </div>
        </section>

        <section class="section-book">
            <div class="row">
                <div class="book">
                    <div class="book__form">
                        <form action="#" class="form">
                            <div class="u-margin-bottom-small">
                                <h2 class="heading-secondary">Choose service</h2>
                            </div>
                            <div class="form__group">
                                <input type="text" class="form__input" placeholder="Full Name" id="name" required>
                                <label for="name" class="form__label">Full Name</label>
                            </div>

                            <div class="form__group">
                                <input type="email" class="form__input" placeholder="Email address" id="email" required>
                                <label for="email" class="form__label">Email Address</label>
                            </div>
                            <div class="form__group u-margin-bottom-medium">
                                <div class="form__radio-group">
                                    <input type="radio" class="form__radio-input" id="small" name="size">
                                    <label for="small" class="form__radio-label">Silver website
                                        <span class="form__radio-button"></span>
                                    </label>
                                </div>

                                <div class="form__radio-group">
                                    <input type="radio" class="form__radio-input" id="large" name="size">
                                    <label for="large" class="form__radio-label">Gold website
                                        <span class="form__radio-button"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form__group">
                                <button class="btn btn--blue">Next step &rarr;</button>    
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer__logo-box">
            <img src="img/ninji.jpg" alt="full logo" class="footer__logo">
        </div>
        <div class="row">
            <div class="col-1-of-2">
                <div class="footer__navigation">
                    <ul class="footer__list">
                        <li class="footer__item"><a href="#" class="footer__link">Company</a></li>
                        <li class="footer__item"><a href="#" class="footer__link">Contact us</a></li>
                        <li class="footer__item"><a href="#" class="footer__link">Careers</a></li>
                        <li class="footer__item"><a href="#" class="footer__link">Privacy policy</a></li>
                        <li class="footer__item"><a href="#" class="footer__link">Terms</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-1-of-2">
                <p class="footer__copyright">
                    Built by <a href="#" class="footer__link">Bluninja Company</a> for business templates. Copyright &copy; by Yaniv Ayalon based on Jonas Schmedtmann design 
                </p>
            </div>
        </div>
    </footer>
    <div class="popup" id="popup">
        <div class="popup__content">
            <div class="popup__left">
                <img src="img/nat-5.jpg" alt="service photo" class="popup__img">
                <img src="img/nat-5.jpg" alt="service photo" class="popup__img">               
            </div>

            <div class="popup__right">
                <a href="#section-tours" class="popup__close">&times;</a>
                <h2 class="heading-secondary u-margin-bottom-small">Start your website</h2>
                <h3 class="heading-tertiary u-margin-bottom-small">Important &ndash; Please read these terms before ordering website</h3>
                <p class="popup__text">
                    We would like to talk a little bit on your business, in order to understand your needs, we don't want only to sell you a website design, we love returning clients which are coming back to 
                    upgrade the website , that means we did a good job, you can start with a simple basic page which will be beautifully designed , and gradualy add more features , and more pages, that way
                    you will allways surprise your clients, your cliets will appreciate your innovation, and they will allways be curious and excited regarding your business, pick up the phone and call us at +972(52)4204155
                    or send an e-mail at : yaniv.ayalon@gmail.com. 
                </p>
                <a href="#" class="btn btn--blue">Order now</a>
            </div>
        </div>
    </div>
</body>
</html>


